.manage-product-container {
  padding: 20px;
  background: white;
  border-radius: 15px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

.manage-product-container h2 {
  margin-bottom: 20px;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 14px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

th {
  background: #1e293b;
  color: white;
}

.edit-btn {
  background: #2563eb;
  color: white;
  border: none;
  padding: 8px 14px;
  margin-right: 10px;
  border-radius: 8px;
  cursor: pointer;
}

.delete-btn {
  background: crimson;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 8px;
  cursor: pointer;
}